<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Center|Features</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/components/navigation/side_nav.css"/>
    <link rel="stylesheet" type="text/css" href="css/features.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/icomoon/style.css"/>
</head>
  <body class="cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <div class="nav-header">
        <h3><i class="icon-calendar2"></i><span>Center<b>Studios</b></span></h3>
      </div>
      <div class="user-tile">
        <img src="https://scontent-b.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/545917_3874095771842_1449401791_n.jpg?oh=840d982d0d7cdb50031c0364d72dd8ef&oe=5470DF53" alt="profile.jpg"/>
        <h4 class="user-name">Whitney Jensen</h4>
      </div>
      <div class="nav-body">
        <ul>
          <li>
            <span class="menu-icon-left"><i class="icon-calendar2"></i></span>
            <a href="#">My Meetings</a>
            <span class="item-count">8</span>
          </li>
          <li>
            <span class="menu-icon-left"><i class="icon-calendar2"></i></span>
            <a href="#">Meeting Summeries</a>
            <span class="item-count">15</span>
          </li>
          <li>
            <span class="menu-icon-left"><i class="icon-calendar2"></i></span>
            <a href="#">Action Items</a>
            <span class="item-count">12</span>
          </li>
          <li>
            <span class="menu-icon-left"><i class="icon-calendar2"></i></span>
            <a href="#">Open Issues</a>
            <span class="item-count">3</span>
          </li>
          <li>
            <span class="menu-icon-left"><i class="icon-calendar2"></i></span>
            <a href="#">Decions</a>
            <span class="item-count">3</span>
          </li>
          <li>
            <span class="menu-icon-left"><i class="icon-calendar2"></i></span>
            <a href="#">Celery seakale</a>
            <span class="item-count">3</span>
          </li>
        </ul>
      </div>
      <div class="middle-splitter"></div>
    </nav>
    <nav class="cbp-spmenu cbp-spmenu-vertical-right cbp-spmenu-right" id="cbp-spmenu-s2">
      <h3>Menu</h3>
      <a href="#">Celery seakale</a>
      <a href="#">Dulse daikon</a>
      <a href="#">Zucchini garlic</a>
      <a href="#">Catsear azuki bean</a>
      <a href="#">Dandelion bunya</a>
      <a href="#">Rutabaga</a>

    </nav>
  <nav class="top-nav">
    <div class="nav-trigger" id="showLeftPush">
      <i class="icon-list"></i>
    </div>
  </nav>
  <div class="msgs push-top">
    <h1><strong>The Center- Coming Soon!</strong> “Join the cause, and be heard, sign up for our email updates, and spread the word.”</h1>
    <span class="close-msgs"><i class="icon-cross2"></i> </span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-12'>
        <div class="img-background">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 featured-sites">
        <div class="social-links">
          <a href="" target="_blank"><i class="icon-facebook"></i></a>
          <a href="https://twitter.com/CenterStudios" target="_blank"><i class="icon-twitter"></i></a>
          <a href="http://instagram.com/thecenterstudios" target="_blank"><i class="icon-instagram"></i></a>
          <a href="https://plus.google.com/u/2/117655836058018862950/posts/p/pub" target="_blank"><i class="icon-googleplus"></i></a>
          <a href="" target="_blank"><i class="icon-google-drive"></i></a>
        </div>
        <span class="rainbow-border"></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 first-section">
        <div class="section-header">
          <h4>Living Your Dreams is simple</h4>
          <h2>Get Started With The Center Studios</h2>
          <p class="subheading">
            Making the transition from discovering your dreams, to living them every day, can be an
            overwhelming process. Let us help you pave your path to the life you imagine.<br/>
            From our Visualization tools, to mindfully crafted action plans, we will help you define
            the steps it takes. Connecting you to the resources you need to nourish your talents and
            gifts. Helping you achieve your goals, while tracking your progress along the way.
          </p>
          <span class="splitter-sm"></span>
        </div>
        </div>
      </div>
      <div class="section-1 row">
        <div class="col-md-6">
          <div class="jumbotron">
            <img src='../images/feeds.png' alt='feeds.jpg'/>
          </div>
          <h3> Modernized Visualization tools</h3>
          <p>
            Bring your goals to life by be increasing the effectiveness of visualization through
            consistency and relativity, all customized to you, and accessible at your fingertips.
          </p>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <img src='../images/stepbystep.png' alt='steps.jpg'/>
          </div>
          <h3>Mindfully crafted action plans,<br> with Synchronized Calendar Reminders</h3>
          <p>
            Create and follow custom action plans that work with your overall strategy to help you
            achieve your goals.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="center-btn clear">
          <a href="dream-life-strategy" class="btn btn-flat-lg">
            <span>Learn More</span>
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

   <div class="container-fluid">
    <div class="row">
      <div class='col-md-12 section-feature feature-set'>
        <div class="subheading center">
          <i class="icon-calendar2"></i>
          <i class="icon-clipboard2"></i>
          <i class="icon-gauge"></i>
          <i class="icon-medal"></i>
          <h2>
            <small>Live you Dreams</small>
            The Center gives you the tools to achieve your goals.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 first-section">
        <div class="section-header">
          <h4>Learn on the Go</h4>
          <h2>With Our Educational resources</h2>
          <p class="subheading">
            Nourish your talents and gifts, by educating your self. The Center connects
            you to the resources you need to gain the skills and tools that will help you do what you
            want to do in life. Customizing your education to your dream.
          </p>
          <span class="splitter-sm"></span>
        </div>
      </div>
    </div>
    <div class="section-1 row">
      <div class="col-md-6">
        <div class="jumbotron">
          <img src='../images/action-1.png' alt='action.jpg'/>
        </div>
        </div>
      <div class="col-md-6 push-bottom">
        <h3 class="center"> Education and Inspiration Center</h3>
        <p class="left">
          Be connected to free and paid educational resources, from online courses, to seminars
          to recommended books and webinars. Customized to be the tools that will help you
          achieve your goals. Step into the Inspiration center and allow yourself to be transformed
          by inspiration. Collect Stories, pictures, and quotes that inspire you, and share your own
          to inspire your friends.
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="center-btn clear">
        <a href="education" class="btn btn-flat-lg">
          <span>Learn More</span>
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class='col-md-12 section-feature'>
      <div class="subheading center">
        <i6c6c6c class="icon-phone"></i>
        <i class="icon-tablet"></i>
        <i class="icon-window"></i>
        <h2>
          <small>Stay Motivated</small>
          Track your progress and share with your friends.
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 first-section">
      <div class="section-header">
        <h4>Enjoy</h4>
        <h2>Our Main Fetures</h2>
        <span class="splitter-sm"></span>
      </div>
    </div>
  </div>
  <div class="section-1 row first">
    <div class="col-md-6">
      <div class="jumbotron">
        <img src='../images/nav.jpg' alt='nav.jpg'/>
      </div>
      <h3>Encourage and Celebrate accomplishments</h3>
      <p>
        Thats right there is a social side to reaching your goals. We have created a place where
        you can share your progress and cheer on your friends. You can even work together
        towards achieving your goals. This gives you a positive way to stay accountable to your
        action plan.
      </p>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <img src='../images/wireframe-template.gif' alt='responsive.jpg'/>
      </div>
      <h3>Earn Points as you achieve your goals</h3>
      <p>
        Your homepage will chart your progress and showcase the skills you have learned,by
        rewarding you points along the way.
      </p>
    </div>
  </div>
  <div class="row first">
    <div class="col-md-6">
      <div class="jumbotron">
        <img src='../images/action-1.png' alt='action'/>
      </div>
      <h3>Track your Progress</h3>
      <p>
        Keep track of your accomplishments. When you complete a goal the center will
        celebrate with you.
      </p>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <img src='../images/timeline.png' alt='timeline'/>
      </div>
      <h3>View Your Timeline:</h3>
      <p>
        See an overall picture of the life of your dream. From start to finish you will document
        each step. This will be added to your timeline for you to see your achievements.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="center-btn clear">
        <a href="" class="btn btn-flat-lg">
          <span>Learn More</span>
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-12 section-feature'>
        <div class="subheading center">
          <i class="icon-phone"></i>
          <i class="icon-tablet"></i>
          <i class="icon-window"></i>
          <h2>
            <small>Learn wherever you want</small>
            Access The Center from anywhere
          </h2>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 first-section">
        <div class="section-header">
          <h4>Stay connected from anywhere</h4>
          <h2>Conveniently Access the Center from any device</h2>
          <p class="subheading">
            The Center was designed with you in mind. Now you will never miss an opportunity to reach the life you've always dreamed of living.
          </p>
          <span class="splitter-sm"></span>
        </div>
      </div>
    </div>
    <div class="section-1 row">
      <div class="col-md-6">
        <div class="jumbotron">
          <img src='../images/nav.jpg' alt='nav.jpg'/>
        </div>
        <h3> Fully Responsive Design</h3>
        <p>
          The center was designed with you in mind. Now you will never miss and opportunity to
          reach your goals and live the life you have dreamed of living.
        </p>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <img src='../images/wireframe-template.gif' alt='responsive.jpg'/>
        </div>
        <h3>Mobile Friendly Navigation</h3>
        <p>
          Access all the innovative tools the Center has to offer at your fingertips. Keeping you
          connected to the strategy that will give you your dream life.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="center-btn clear">
          <a href="" class="btn btn-flat-lg">
            <span>Learn More</span>
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid section-feature-full">
    <div class="row">
      <div class="col-md-6">
        <div class="icon-container">
          <i class="icon-window"></i>
          <i class="icon-calendar2"></i>
        </div>
        <div class="feature-description">
          <h3>Schedule Your Goals</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Qisque sit amet bibendum ligula, a suscript lorem.
            vesitbulum elementum libero est, sit amet adipiscing
            elit consequat a
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="icon-container">
          <i class="icon-window"></i>
          <i class="icon-clipboard2"></i>
        </div>
        <div class="feature-description">
          <h3>Complete Daily Tasks</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Qisque sit amet bibendum ligula, a suscript lorem.
            vesitbulum elementum libero est, sit amet adipiscing
            elit consequat a
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="icon-container">
          <i class="icon-window"></i>
          <i class="icon-gauge"></i>
        </div>
        <div class="feature-description">
          <h3>Activity Feed</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Qisque sit amet bibendum ligula, a suscript lorem.
            vesitbulum elementum libero est, sit amet adipiscing
            elit consequat a
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="icon-container">
          <i class="icon-window"></i>
          <i class="icon-medal"></i>
        </div>
        <div class="feature-description">
          <h3>Earn Awards</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Qisque sit amet bibendum ligula, a suscript lorem.
            vesitbulum elementum libero est, sit amet adipiscing
            elit consequat a
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="icon-container">
          <i class="icon-window"></i>
          <i class="icon-pictures"></i>
        </div>
        <div class="feature-description">
          <h3>Dream Boards</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Qisque sit amet bibendum ligula, a suscript lorem.
            vesitbulum elementum libero est, sit amet adipiscing
            elit consequat a
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="icon-container">
          <i class="icon-window"></i>
          <i class="icon-atom"></i>
        </div>
        <div class="feature-description">
          <h3>Center Your Life</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Qisque sit amet bibendum ligula, a suscript lorem.
            vesitbulum elementum libero est, sit amet adipiscing
            elit consequat a
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="splitter-md"></div>
        <div class="center-btn">
          <a href="" class="btn btn-flat-lg">
            <span>Get Updates</span>
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
</div>
<div class="section-about">
  <div class="about-right">
    <h3>
      The Power within us can only be unleashed when we give it the tools it needs to
      succeed. That success comes when we connect and align our lives to be centered
      around what we imagine, what we create, and how we inspire the world around us.
    </h3>
  </div>
  <div class="author-left">
    <div class="img-left">
      <img src="https://scontent-b.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/545917_3874095771842_1449401791_n.jpg?oh=840d982d0d7cdb50031c0364d72dd8ef&oe=5470DF53" alt="profile.jpg"/>
    </div>
    <div class="info-right">
      <h3> Whitney Jensen</h3>
      <p>Founder & CEO of The Center Studios</p>
    </div>
  </div>
</div>
<div class="footer">
  <div class="nav-left">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Social</a></li>
    </ul>
  </div>
  <div class="copyright">
    <h4><span>©</span>2014 All rights reserved</h4>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/navigation/classie.js"></script>
<script>
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
      menuRight = document.getElementById( 'cbp-spmenu-s2' ),
      showLeftPush = document.getElementById( 'showLeftPush' ),
      showRightPush = document.getElementById( 'showRightPush' ),
      body = document.body;

  showLeftPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeftPush' );
  };
  showRightPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toleft' );
    classie.toggle( menuRight, 'cbp-spmenu-open' );
    disableOther( 'showRightPush' );
  };

  function disableOther( button ) {
    if( button !== 'showLeftPush' ) {
      classie.toggle( showLeftPush, 'disabled' );
    }
    if( button !== 'showRightPush' ) {
      classie.toggle( showRightPush, 'disabled' );
    }
  }
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.close-msgs').click(function(){
      $('.msgs').hide();
    });
  });
</script>
</body>
</html>
