* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html, body, .st-container, .st-pusher {
  height: 100%; }

.st-content {
  height: 100%;
  overflow-y: scroll;
  background: #F5F5F5;
  position: relative; }

.st-content-inner {
  position: relative;
  font-family: "Varela Round", sans-serif; }

.st-container {
  position: relative;
  overflow: hidden; }

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }
  .st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.st-menu {
  position: absolute;
  top: 0;
  border: 1px solid #282828;
  left: 80px;
  z-index: 100;
  visibility: hidden;
  width: 345px;
  height: 100%;
  background: #3A3C43;
  font-family: "Varela Round", sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }

@media (max-width: 767px) {
  .st-menu {
    left: 0;
    bottom: 0;
    top: auto;
    width: 100%; }

  /* Effect 2: Reveal */
  .st-effect-2.st-menu-open .st-pusher {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  .st-pusher {
    width: 100%; } }
.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

/* content style */
.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both; }
.st-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
  font-size: 2em; }
.st-menu .row {
  margin-right: 0;
  margin-left: 0; }
.st-menu .row-top {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333; }
.st-menu .row-bottom {
  border-bottom: 1px solid #333; }
.st-menu ul li {
  display: block;
  text-align: center;
  height: 80px;
  border-right: 1px solid #333;
  border-left: 1px solid #333; }
  .st-menu ul li:first-child {
    border-left: none;
    border-right: none; }
  .st-menu ul li:last-child {
    border-right: none;
    border-left: none; }
  .st-menu ul li:nth-child(2) {
    border-top: 0; }
  .st-menu ul li a {
    outline: none;
    color: #93F0FF;
    line-height: 19px;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    position: relative;
    top: 20px;
    display: block;
    text-align: center;
    font-family: "Varela Round", sans-serif; }
  .st-menu ul li:hover {
    text-decoration: none;
    color: #689bc0; }
  .st-menu ul li.col-md-4 {
    padding: 0; }
  .st-menu ul li a span {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-top: 5px; }
  .st-menu ul li a:hover {
    text-decoration: none; }
  .st-menu ul li:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px transparent; }
.st-menu .page-options li a i {
  font-size: 20px; }
.st-menu .page-options li a span {
  font-size: 10px; }
.st-menu .section-list .col-md-12 {
  padding: 0; }
  .st-menu .section-list .col-md-12 .title {
    margin-top: 25px;
    font-size: 15px;
    color: #f3f3f3;
    padding: 0 15px 15px;
    border-bottom: 1px solid #333; }
  .st-menu .section-list .col-md-12 ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .st-menu .section-list .col-md-12 ul li {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #333;
      text-align: left;
      padding: 0 15px; }
      .st-menu .section-list .col-md-12 ul li a {
        text-align: left;
        color: #f3f3f3; }
        .st-menu .section-list .col-md-12 ul li a i {
          float: left;
          margin-right: 12px;
          font-size: 18px;
          color: #f3f3f3; }

/* Individual effects */
/* Effect 2: Reveal */
.st-effect-2.st-menu-open .st-pusher {
  -webkit-transform: translate3d(425px, 0, 0);
  transform: translate3d(425px, 0, 0); }
.st-effect-2.st-menu {
  z-index: 1; }
.st-effect-2.st-menu-open .st-effect-2.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }
.st-effect-2.st-menu::after {
  display: none; }

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher, .no-js .st-pusher {
  padding-left: 435px; }

.nav-top {
  padding: 25px;
  background: #37393F; }
  .nav-top h4 {
    margin: 0; }

.logo {
  color: #FAF8F9; }

.page-options h4 {
  color: #FAF8F9;
  padding: 10px;
  font-size: 14px; }

.top-header {
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  background: #333;
  height: 62px; }

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #2D2D2D;
  width: 80px;
  z-index: 1000; }

.desktop {
  display: block; }

.mobile {
  display: none; }

@media (max-width: 745px) {
  .desktop {
    display: none; }

  .mobile {
    display: block; } }
.tab-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;
  background: #2d2d2d;
  text-align: center; }
  .tab-bar .user-avatar {
    display: inline-block;
    position: relative;
    bottom: 10px; }
    .tab-bar .user-avatar img {
      border-radius: 100%;
      width: 50px; }
  .tab-bar .nav-items {
    text-align: center;
    margin-top: 12px; }
    .tab-bar .nav-items a {
      display: inline-block;
      text-decoration: none;
      margin-left: 20px;
      color: #505562; }
      .tab-bar .nav-items a i {
        font-size: 30px; }
      .tab-bar .nav-items a.active {
        color: #ededee; }

nav input[type=search] {
  background: inherit;
  border: transparent;
  padding: 25px 15px 8px 15px;
  color: #4F525A;
  outline: 0;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #4F525A; }
  nav input[type=search]:focus {
    color: #EDEDEE; }

.nav-top, h1, h2, h3, h4, h5, h6, p, span, input {
  font-family: "Varela Round", sans-serif; }

.sidebar .user-avatar {
  width: 65%;
  margin: 20px auto;
  border-bottom: 1px solid #484848;
  padding-bottom: 15px; }
  .sidebar .user-avatar img {
    border-radius: 100%;
    width: 50px; }
.sidebar .nav-items a {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  color: #505562; }
  .sidebar .nav-items a i {
    font-size: 30px; }
  .sidebar .nav-items a.active {
    color: #ededee; }

a:hover, a:after, a:active, a:focus {
  text-decoration: none; }

.top-actions .btn {
  font-size: 9px;
  position: relative;
  top: 13px;
  right: 10px; }

/*# sourceMappingURL=navigation.css.map */
