/* line 1, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/imports/ui-elements */
.btn, .btn-green {
  padding: 11px 25px;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid; }
  /* line 7, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/imports/ui-elements */
  .btn:hover, .btn-green:hover {
    text-decoration: none; }

/* line 9, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/imports/ui-elements */
.btn-green {
  color: #16a085;
  background: #fff;
  border-color: #16a085;
  font-size: 12px;
  font-weight: 400; }
  /* line 16, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/imports/ui-elements */
  .btn-green:hover {
    background: #16a085;
    color: #fff; }

/* line 4, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }
  /* line 8, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
  html body, body body {
    height: 100%;
    min-width: 550px; }
    /* line 11, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
    html body header, body body header {
      width: 100%; }
      /* line 13, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
      html body header .top-navbar, body body header .top-navbar {
        width: 100%;
        height: 75px;
        background: #31343A;
        border-bottom: 1px solid #EFEFEF;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100; }
        @media (max-width: 1025px) {
          html body header .top-navbar, body body header .top-navbar {
            height: 50px; } }
        /* line 24, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
        html body header .top-navbar .search, body body header .top-navbar .search {
          float: left;
          height: 100%;
          background: #292C32;
          width: 110px;
          text-align: center;
          cursor: pointer; }
          @media (max-width: 1025px) {
            html body header .top-navbar .search, body body header .top-navbar .search {
              display: none; } }
          /* line 34, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
          html body header .top-navbar .search i, body body header .top-navbar .search i {
            color: #fff;
            font-size: 20px;
            margin-top: 25px;
            display: block; }
        /* line 39, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
        html body header .top-navbar .site-title, body body header .top-navbar .site-title {
          text-align: center;
          margin: 0;
          padding: 0;
          font-family: 'Muli', sans-serif;
          font-size: 28px;
          padding-top: 22px;
          color: #fff; }
          @media (max-width: 1025px) {
            html body header .top-navbar .site-title, body body header .top-navbar .site-title {
              font-size: 18px;
              padding-top: 15px;
              color: #EFEFEF; } }
        /* line 51, /Users/sawyerbateman/Development/newtcs/templates/centerstudios/chrome/option2/styles/base.sass */
        html body header .top-navbar .action-right, body body header .top-navbar .action-right {
          position: absolute;
          right: 25px;
          top: 25px; }

/*# sourceMappingURL=base.css.map */